@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');


:root{
    --background: #E9E9E2;
    --fuente-oscura: #000; 
    --fuente-clara: #fff;
    --fuente-hover: #9b9b93;

  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

body{
  background-color: var(--background);
}

header{
    width: 100%;
    background-color: var(--fuente-oscura);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 80px;
    position: fixed;
    top: 0;
}
 header p{
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: var(--fuente-clara);
  }

  header p a{
    color: var(--fuente-clara);
    }


.navbar, .navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar-list{
    gap: 40px;
}

.navbar-list a{
    color: var(--fuente-clara);
}

#section-hero{
  background-image: url(./img/skyline.png);
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: left;
  margin-top: 80px;
  }


.hero-info{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  width: 30rem;
  padding: 7rem;
}

.hero-info h1{
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1rem;
  color: var(--fuente-clara);
}

.hero-info p{
    font-size: 1.3rem;
    color: var(--fuente-clara);
}

.hero-info button{
  margin-top: 3rem;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 15rem;
  font-size: 0.8rem;
  border: 2px solid var(--fuente-clara);
  background-color: transparent;

}

.hero-info button a{
  color: var(--fuente-clara);
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.hero-info button a:visited {
  color: var(--fuente-clara);

}


#section-info{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem;
  margin: 0 auto;
}

#section-info p{
  font-size: 1.5rem;
  font-weight: lighter;
}