@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --background: #000000;
    --fuente: #dfdfdf;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--background);
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #666565;
    height: 100px;
    padding: 0 80px;
}

.logo{
    height: 50%;
}

.navbar, .navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar-list{
    gap: 60px;
}

.navbar-list a{
    color: var(--fuente);
}

section{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  }

.contenedor{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 3rem;
  color: #dfdfdf;
  padding: 3rem;
}

.datos{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
  gap: 2rem;
  width: 30rem;
  padding: 1rem;
}

.datos h1{
  font-size: 4rem;
  font-weight: 600;
}

.datos p{
    font-size: 1.2rem;
}

button{
  border-radius: 0.5rem;
  padding: 0.8rem;
  width: 10rem;
  font-size: 1rem;
  background-color: #08fdd8;


}

.contenedor img{
    width: 450px;
    height: 470px;
    border-radius: 0.5rem;
    border-radius: 100%;
  }
